<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Astronet - Inicio</title>

    <!--FAVICON-->
    <link rel="shortcut icon" href="../static/img/icono.ico" type="image/x-icon">

    <!--REMIXICONS-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <!--Custom CSS-->
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/planes.css">
    <link rel="stylesheet" href="../static/css/cards.css">
    <link rel="stylesheet" href="../static/css/about.css">
    <!--
    <link rel="stylesheet" media="(prefers-color-scheme: dark)" href="../static/css/darkmode.css">
    <link rel="stylesheet" media="(prefers-color-scheme: light)" href="../static/css/lightmode.css">
    -->
</head>

<body>
    <!--================HEADER======================-->
    <header class="header" id="header">
        <nav class="nav container">
            <a href="../index.html" class="nav__logo">
                <img src="../static/img/logo.png" alt="">
            </a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="../index.html" class="nav__link">Inicio</a>
                    </li>
                    <li class="nav__item">
                        <a href="../templates/planes.html" class="nav__link">Planes</a>
                    </li>
                    <li class="nav__item">
                        <a href="../templates/cobertura.html" class="nav__link">Cobertura</a>
                    </li>
                    <li class="nav__item">
                        <a href="../templates/agencias.html" class="nav__link">Agencias</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link active-link">Nosotros</a>
                    </li>
                </ul>

                <!-- Close Button -->
                <div class="nav__close" id="nav-close">
                    <i class="ri-close-line"></i>
                </div>
            </div>

            <div class="nav__buttons">
                <i class="ri-moon-line change-theme" id="theme-button"></i>
                <!-- Toggle Button -->
                <div class="nav__toggle" id="nav-toggle">
                    <i class="ri-menu-4-line"></i>
                </div>
            </div>
        </nav>
    </header>

    <!--================MAIN======================-->
    <main class="main">
        <!--===============Home=================-->
        <section class="home__about section" id="home">
            <div class="home__container-about container grid">
                <div class="home__data-about">
                    <hl class="home__title-about">
                        <strong>Astronet</strong> <br> Qui&eacute;nes <br> somos?
                    </hl>
                    <p class="home__description-about">
                        Empresa de telecomunicaciones con m&aacute;s de 10 años de experiencia. En el año 2018 nos constituimos como Cía. Ltda, centrándonos en brindar un &oacute;ptimo servicio de internet a nivel del Azuay, abarcando la mayor&iacute;a de sectores del &aacute;rea
                        rural.
                    </p>
                    <div class="home__value-about">
                        <div>
                            <h1 class="home__value-number">
                                5 <span>+</span>
                            </h1>
                            <span class="home__value-description">
                                Oficinas en<br> Azuay
                            </span>
                        </div>
                        <div>
                            <h1 class="home__value-number">
                                2k <span>+</span>
                            </h1>
                            <span class="home__value-description">
                                Clientes <br> beneficiados
                            </span>
                        </div>
                        <div>
                            <h1 class="home__value-number">
                                24/<span>7</span>
                            </h1>
                            <span class="home__value-description">
                                Soporte <br> t&eacute;cnico
                            </span>
                        </div>
                    </div>
                </div>
                <div class="home__images-about">
                    <div class="home__orbe-about"></div>

                    <div class="home__img-about">
                        <img src="../static/img/perfil2.jpg" alt="">
                    </div>
                </div>
            </div>
        </section>
        <!--===============Logos=================-->
        <section class="logos__about section">
            <div class="logos__container-about container grid">
                <div class="logos__img-about">
                    <img src="../static/img/logo1.png" alt="">
                </div>
                <div class="logos__img-about">
                    <img src="../static/img/logo2.png" alt="">
                </div>
                <div class="logos__img-about">
                    <img src="../static/img/logo3.png" alt="">
                </div>
                <div class="logos__img-about">
                    <img src="../static/img/logo4.png" alt="">
                </div>
            </div>
        </section>
        <!--===============Valor=================-->
        <section class="value__about section">
            <div class="value__container-about container grid section__border">
                <div class="values__images-about">
                    <div class="value__orbe-about"></div>
                    <div class="value__img-about">
                        <img src="../static/img/about.jpg" alt="">
                    </div>
                </div>

                <div class="value__content-about">
                    <div class="value__data-about">
                        <span class="section__subtitle-about">C&oacute;nectate al futuro!</span>
                        <h2 class="section__title-about">
                            <span>Astronet</span>
                        </h2>
                        <p class="value__description">
                            Comprometidos con brindar ayuda a la comunidad.
                        </p>
                    </div>

                    <div class="value__accordion">
                        <div class="questions__item">
                            <header class="questions__header value__accordion-header">
                                <i class="ri-add-line questions__icon"></i>
                                <h3 class="questions__item-title value__accordion-title">
                                    Nuestra misi&oacute;n como empresa
                                </h3>
                            </header>

                            <div class="questions__content value__accordion-content">
                                <p class="questions__description value__accordion-description">
                                    Somos una empresa que ofrece servicios de telecomunicaciones dentro de la zona Austral, garantizando una conexión sin límites mediante la adaptación de tecnologías innovadoras, a través de procesos eficientes y enfocados a la satisfacción del cliente,
                                    basados en criterios de mejora continua y responsabilidad social.
                                </p>
                            </div>
                        </div>

                        <div class="questions__item">
                            <header class="questions__header value__accordion-header">
                                <i class="ri-add-line questions__icon"></i>
                                <h3 class="questions__item-title value__accordion-title">
                                    Nuestra visi&oacute;n
                                </h3>
                            </header>

                            <div class="questions__content value__accordion-content">
                                <p class="questions__description value__accordion-description">
                                    Ser una empresa reconocida a nivel del austro con el fin de lograr la mayor conectividad de las personas a las tecnologías emergentes, brindando un servicio de excelencia con innovación constante en todos sus procesos; garantizando así la modernización
                                    y satisfacción a nuestros clientes.
                                </p>
                            </div>
                        </div>

                        <div class="questions__item">
                            <header class="questions__header value__accordion-header">
                                <i class="ri-add-line questions__icon"></i>
                                <h3 class="questions__item-title value__accordion-title">
                                    Ayuda a emprendedores
                                </h3>
                            </header>

                            <div class="questions__content value__accordion-content">
                                <p class="questions__description value__accordion-description">
                                    Astronet brinda un servicio premium apoyando a los negocios en crecimiento para avanzar juntos. Ofrecemos este plan especializado para emprendedores que buscan conectividad al mejor precio. ¡Consúltanos y disfrútalo ya mismo!
                                </p>
                            </div>
                        </div>

                        <div class="questions__item">
                            <header class="questions__header value__accordion-header">
                                <i class="ri-add-line questions__icon"></i>
                                <h3 class="questions__item-title value__accordion-title">
                                    Preocupados por la seguridad de nuestros clientes
                                </h3>
                            </header>

                            <div class="questions__content value__accordion-content">
                                <p class="questions__description value__accordion-description">
                                    Price we provides is the best for yout we guarantee no price changes on your property due to various nexpected costs that may come .
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--=================Contacts=========================-->
        <section class="contactos section ">
            <h2 class="section__title ">Contactos</h2>
            <span class="section__subtitle ">Cant&aacute;ctanos para mas informaci&oacute;n</span>
            <div class="contact__container container grid">
                <div class="contact__container ">
                    <h3 class="contact__title ">
                        <i class="ri-chat-3-line "></i>Servicio T&eacute;cnico
                    </h3>
                    <div class="contact__info ">
                        <div class="contact__data ">
                            <span class="contact__data-title ">Email</span>
                            <span class="contact__data-info ">ventas@astronet.ec</span>
                        </div>
                        <div class="contact__data ">
                            <span class="contact__data-title ">Whatsapp</span>
                            <span class="contact__data-info ">+593 995353096</span>
                            <a href="https://wa.me/+593995353096?text=Hola, deseo mas informacion " target="_blank " class="contact__button">
                                Escribanos <i class="ri-arrow-right-line "></i>
                            </a>
                        </div>
                        <div class="contact__data ">
                            <span class="contact__data-title ">Messenger</span>
                            <span class="contact__data-info ">@AstroNet.internet  </span>
                            <a href="https://www.facebook.com/AstroNet.internet" target="_blank " class="contact__button">
                                Escribanos <i class="ri-arrow-right-line "></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="contact__container">
                    <h3 class="contact__title ">
                        <i class="ri-send-plane-line "></i> Escribenos para consultas & contratos
                    </h3>
                    <form action="" class="contact__form " id="contact__form">
                        <div class="contact__form-div ">
                            <label class="contact__form-tag ">Nombre y Apellido</label>
                            <input type="text" name="user_name" required placeholder="Introduzca su nombre y apellido" class="contact__form-input" id="contact__name">
                        </div>
                        <div class="contact__form-div ">
                            <label class="contact__form-tag ">Celular</label>
                            <input type="text" name="user_phone" required placeholder="Introduzca su numero de celular" class="contact__form-input" id="contact__phone">
                        </div>
                        <div class="contact__form-div contact__form-area ">
                            <label class="contact__form-tag ">Asunto</label>
                            <textarea name="user_project" id="contact__project" placeholder="Introduzca el motivo de su mensaje" class="contact__form-input"></textarea>
                        </div>
                        <p class="contact__message" id="contact__message">

                        </p>
                        <button type="submit" class="contact__button">
                            Enviar <i class="ri-arrow-right-up-line "></i>
                        </button>
                    </form>
                </div>
            </div>
        </section>
    </main>

    <!--=======================Pie de pagina================================-->

    <footer>
        <div class="waves">
            <div class="wave" id="wave1"></div>
            <div class="wave" id="wave2"></div>
            <div class="wave" id="wave3"></div>
            <div class="wave" id="wave4"></div>
        </div>
        <ul class="social__icon">
            <li><a href="https://www.facebook.com/AstroNet.internet" target="_blank"><i class="ri-facebook-fill "></i></a></li>
            <li><a href="https://www.instagram.com/astronet.internet/" target="_blank"><i class="ri-instagram-fill "></i></a></li>
            <li><a href="https://wa.me/+593995353096?text=Hola, deseo mas informacion" target="_blank"><i class="ri-whatsapp-fill "></i></a></li>
            <li><a href="https://www.tiktok.com/@astronetv" target="_blank"><i class="ri-tumblr-fill"></i></a></li>
        </ul>
        <ul class="menu">
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="../templates/planes.html">Planes</a></li>
            <li><a href="../templates/cobertura.html">Cobertura</a></li>
            <li><a href="../templates/agencias.html">Agencias</a></li>
        </ul>
        <p>Copyright 2022 &copy; - Todos los Derechos Reservados | Design by Astronet</p>
    </footer>

    <!--========================SCROLL UP=======================================-->
    <a href="" class="scrollup" id="scroll-up">
        <i class="ri-arrow-up-s-line"></i>
    </a>

    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="../static/scripts/theme_mode.js"></script>
    <script src="../static/scripts/scrollup.js"></script>
    <script src="../static/scripts/main.js"></script>
    <!--=========================EMAIL JS================================-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>

</body>

</html>